@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: black;
}

.flex {
    background-color:black; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.imgcentro{
    width: 10%;
}

.quadrado {
    background-color:#113c61;
    flex-wrap: wrap;
    text-align: center;
}

.quadrado:hover{
    color: rgb(238, 238, 238);
    transition: 400ms;
    opacity: 0.55;
}

.imagem{
    width: 280px; 
    padding: 1px;
}

.texto{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}


/*RODAPE */
footer{
    width: 100%;
    height: 6em;
    bottom: 0px;
    color: white;
    background-color:#083359;
}

footer ul{
    margin-bottom: 1em;
}

footer h2{
    padding-top: 10px;
    color:white;
    text-align: center;
}

footer ul li{
    color: #e0ba74;
    text-align: center;
}


/*barra em cima*/
  .site-header {
    background-color: #083359;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 60px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin-right: 30px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
color: #ffcc00;
}



/* MENU hamburguer */
.cabeçalho{
    background-color: #0D0D0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem{
    padding: 1em;
    justify-content: right;
}

.container__titulo {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {
    /*esconde e mostra o menu*/
    background-image: url("img/Menu\ Aberto.png");
}

.container__botao:checked~.container__rotulo { 
    background: rgb(169, 16, 16);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 20vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color:black;
}

.lista-menu__titulo {
    color: orangered;
    font-size: 20px;
    font-weight: 700;
}

.lista-menu__link {
    font-size: 18px;
    color: #F2A30F;
}


.lista-menu__link:hover {
    background-color: yellow;
}

/* tmas olipicos */

/* vermelho #F22738
azul #0487D9
verde #03A64A
amarelo #F2A30F
preto #0D0D0D */